#------------------------------------------------------------------------------
#
# Denne koden forvaltes av:   Team Smia
# Dokumentasjon:              https://kartverket.atlassian.net/wiki/spaces/STED/overview

* @kartverket/smia
/.security/ @kristmh
